<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ItemMapper">
	<select id="selectByitemNum" resultType="Item" parameterType="_int">
		select i.*,
		(select up_Name from upOption where up_Code=i.up_Code) up_Name,
		(select down_Name from downOption where down_Code=i.down_Code) down_Name
		from item2 i where itemNo=#{value}
	</select>
	
	
	<select id="selectByQty" resultType="Item" parameterType="string">
		select i.*,
		(select up_Name from upOption where up_Code=i.up_Code) up_Name,
		(select down_Name from downOption where down_Code=i.down_Code) down_Name 
		
		from item2 i where quality=#{value}
	</select>
	
	
	<select id="itemList" resultType="Item">
		select i.*,
		(select up_Name from upOption where up_Code=i.up_Code) up_Name,
		(select down_Name from downOption where down_Code=i.down_Code) down_Name
		from item2 i order by itemNo desc
	</select>
	
	<delete id="removeByitemNo" parameterType="_int">
		delete from item2 where itemNo=#{value}
	</delete>
	
	<update id="modifyItem" parameterType="Item">
		update item2 set itemName=#{itemName},count=#{count},price=#{price},saleprice=#{saleprice},point=#{point} 
			<if test="itemImage1!=null and itemImage1!=''">
		 		itemImage1=#{itemImage1}, itemImage2=#{itemImage2}, itemImage3=#{itemImage3} 
	 		</if>
	 		<where>
	 			itemNo=#{itemNo}
	 		</where>
	</update>
</mapper>