<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ItemMapper">
	<select id="selectByitemNum" resultType="Item" parameterType="_int">
		select i.*,
		(select up_Name from upOption where up_Code=i.up_Code) up_Name,
		(select down_Name from downOption where down_Code=i.down_Code) down_Name
		from item2 i where itemNo=#{value}
	</select>
	
	<select id="itemList" resultType="Item">
		select i.*,
		(select up_Name from upOption where up_Code=i.up_Code) up_Name,
		(select down_Name from downOption where down_Code=i.down_Code) down_Name
		from item2 i order by itemNo desc
	</select>
	
</mapper>