<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.memo.model.MemoMapper">
	<select id="getTotalCount" resultType="int">
		select count(idx) from scott.memo
	</select>
	
	<insert id="insertMemo" parameterType="Memo">
		<selectKey keyProperty="idx" resultType="int" order="BEFORE"> <!-- idx에 int타입으로 인서트문 전에 Before, 시퀀스를 증가 시킨다. -->
			select scott.memo_seq.nextval from dual			
		</selectKey>
		insert into scott.memo(idx,name,msg,wdate)
		values(#{idx},#{name},#{msg:VARCHAR},sysdate)
	</insert>
	
	<select id="listMemo" resultType="Memo">
		select * from scott.memo order by idx desc
	</select>
	
	<delete id="deleteMemo" parameterType="_int">
		delete from scott.memo where idx=#{value}
	</delete>
	
	<select id="getMemo" resultType="Memo" parameterType="_int">
		select * from scott.memo where idx=#{value}
	</select>
	
	<update id="updateMemo" parameterType="Memo">
			update scott.memo set name=#{name}, msg=#{msg:VARCHAR}, wdate=sysdate where idx=#{idx}
	</update>
</mapper>