<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.review.model.ReviewVO" alias="Review"/>	
		<typeAlias type="com.user.model.UserVO" alias="User"/>	
		<typeAlias type="com.user.model.KakaoVO" alias="KakaoUser"/>	
		<typeAlias type="com.notice_board.model.BoardVO" alias="Board"/>
		<typeAlias type="com.shop.model.ItemVO" alias="Item"/>
		<typeAlias type="com.shop.model.OptionVO" alias="Option"/>
		<typeAlias type="com.shop.model.CartVO" alias="cvo"/>
		<typeAlias type="com.shop.model.MemberVO" alias="member"/>
		<typeAlias type="com.free.model.free_BoardVO" alias="Free_Board"/>
		<typeAlias type="com.free.model.free_PagingVO" alias="Paging"/>
	</typeAliases>
	<mappers>
		<mapper resource="config/mybatis/mapper/ReviewMapper.xml"/>
		<mapper resource="config/mybatis/mapper/UserMapper.xml"/>
		<mapper resource="config/mybatis/mapper/KakaoMapper.xml"/>
		<mapper resource="config/mybatis/mapper/BoardMapper_notice.xml"/>
		<mapper resource="config/mybatis/mapper/AdminMapper.xml"/>
		<mapper resource="config/mybatis/mapper/free_BoardMapper.xml"/>
		<mapper resource="config/mybatis/mapper/CartMapper.xml"/>
		<mapper resource="config/mybatis/mapper/free_BoardMapper.xml"/>
		<mapper resource="config/mybatis/mapper/CategoryMapper.xml"/>
		<mapper resource="config/mybatis/mapper/ItemMapper.xml"/>
	</mappers>
	
	

</configuration>