<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.review.model.ReviewVO" alias="Review"/>	
		<typeAlias type="com.user.model.UserVO" alias="User"/>	
		<typeAlias type="com.user.model.KakaoVO" alias="KakaoUser"/>	
		<typeAlias type="com.notice_board.model.BoardVO" alias="Board"/>
		<typeAlias type="com.shop.model.ItemVO" alias="Item"/>
		<typeAlias type="com.shop.model.OptionVO" alias="Option"/>
	</typeAliases>
	<mappers>
		<mapper resource="config/mybatis/mapper/ReviewMapper.xml"/>
		<mapper resource="config/mybatis/mapper/UserMapper.xml"/>
		<mapper resource="config/mybatis/mapper/KakaoMapper.xml"/>
		<mapper resource="config/mybatis/mapper/BoardMapper_notice.xml"/>
		<mapper resource="config/mybatis/mapper/AdminMapper.xml"/>
	</mappers>
	
	

</configuration>