.star-score {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}
 
.star-score input {
  display: none;
}
 
.star-score label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
 
.star-score :checked ~ label {
  -webkit-text-fill-color: gold;
}
 
.star-score label:hover,
.star-score label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}

#content {
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}
/* 
#modalstar {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}
 
#modalstar input {
  display: none;
}
 
#modalstar label {
  -webkit-text-fill-color: transparent; Will override color (regardless of order)
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
 
#modalstar :checked ~ label {
  -webkit-text-fill-color: gold;
}
 
#modalstar label:hover,
#modalstar label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}
 */
